<footer class="bg-secondary py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0 text-muted">
          &copy;&nbsp;<span id="currentYear"></span> Acme Inc. All rights
          reserved.
        </p>
      </div>
      <div class="col-md-6">
        <ul class="nav float-md-end">
          <li class="nav-item">
            <a href="/" class="nav-link px-2 text-muted p-0">Home</a>
          </li>
          <li class="nav-item">
            <a href="/about.html" class="nav-link px-2 text-muted p-0">About</a>
          </li>
          <li class="nav-item">
            <a href="/blog.html" class="nav-link px-2 text-muted p-0">Blog</a>
          </li>
          <li class="nav-item">
            <a href="/contact.html" class="nav-link px-2 text-muted p-0"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
