<nav class="navbar navbar-expand-lg bg-primary py-2 sticky-top" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand text-light fw-bold fs-5" href="/">Acme Inc</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/" id="homePage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog.html">Blog</a>
        </li>
      </ul>
      <div>
        <a href="/contact.html" class="btn btn-light">Contact Us</a>
      </div>
    </div>
  </div>
</nav>
